<% layout('layouts/boilerplate') %> 

<div class="row">
  <div class="col-6">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
<% elper.images.forEach((img, i) => {%>
    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
      <img class="d-block w-100" src="<%=img.url%>" alt="First slide">
   </div>
<% }) %>
  </div>
<% if(elper.images.length > 1) {%>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
<% } %>
</div>
        <div class="card mb-3 bg-dark text-light">
                       <div class="card-body">
              <h5 class="card-title"><%= elper.title %> <%=elper.user.username%></h5>
              <p class="card-text"><%= elper.description ? elper.description : ' no description' %></p>
            </div>
            <ul class="list-group list-group-flush bg-dark text-light">
              <li class="list-group-item bg-dark text-light"><%= elper.price %> ₹ / Night</li>
              <li class="list-group-item text-muted bg-dark text-light" ><%= elper.location %></li>
            </ul>
	<% if(loggedIn && elper.user._id.equals(loggedIn)) { %>
            <div class="card-body">
              <a href="/elpers/<%= elper._id %>/modify" class="card-link btn btn-info">Modify</a>
             <a href="/elpers/<%=elper._id%>/images" class="card-link btn btn-info mx-auto my-3">Images</a>
 <form class="d-inline" method="POST" action="/elpers/<%= elper._id %>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
                </form>
            </div>
	<% } %>
          </div>
          
          <a href="/elpers" class=" my-5 btn bg-dark navbar-dark text-muted">Go Back</a>
    </div>


<div class="col-6 bg-dark text-light">
  <div id='map' class="map-details text-dark"></div>
<%if(loggedIn){ %> 
 <h2>Leave a review</h2>
<form method="POST" action="/elpers/<%= elper._id %>/reviews" novalidate class="validated mb-3">
<div class="mb-3" >
  <label for="rating" class="form-label">Rate</label>
  <input  type="range" name="rating" class="form-range" min="1" max="5" required>
</div>
<div class="mb-3">
  <label class="form-label" for="review">Write A Review</label>
  <textarea class="form-control" name="review"cols="20" rows="2" placeholder="Describe your Elp Camp Experience"  required></textarea>
<div class="valid-feedback">
<h6>Looks good!</h6>
</div>
</div> 
<div class="mb-3">
  <button class="btn btn-success">Submit</button>
  </div>
</form>
<% } %>
  <h3>Reviews</h3>
  <%   for(let review of elper.review){ %>
    <div class="mb-3 card bg-dark text-light">
     <div class="card-body">
      <h5 class="card-title">Rating: <%= review.rating %></h5>
      <h6 class="card-subtitle muted"><%=review.user.username%></h6>
	<p class="card-text">Review: <%= review.review %> </p>
<%if(loggedIn && review.user._id.equals(loggedIn)) {%>
      <button id="btn<%=review._id%>" class="btn btn-dark">Edit</button>
      <form action="/elpers/<%= elper._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
      </form>
<%}%>
      </div>
    </div>
   <div id="hidden<%=review._id%>" style="display: none;">
 <form action="/elpers/<%=elper._id%>/reviews/<%=review._id%>?_method=PUT" method="POST">
   <label for="review">Edit Review</label>
    <input type="text" value="<%=review.review%>" name="review">
    <button class="btn btn-secondary">Submit</button>
</form>
</div>
<script>
    document.getElementById('btn<%=review._id%>').addEventListener('click', () => {
        document.getElementById('hidden<%=review._id%>').style.display = 'block'
})
</script>
      <% } %> 


</div>  



</div>

<script>
const token = '<%-process.env.mapbox_token%>';
const coord = <%-JSON.stringify(elper)%>
</script>
<script src="/javascript/mapbox.js"></script>

